.main {
    background-color: white;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentCard {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
}