.card {
    width: 200px;
    min-height: 370px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.card:not(:nth-child(5n)) {
    margin-right: 50px;
}

.card:not(:nth-child(n+6)) {
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.cardImg {
    max-width: 198px;
}